---
layout: default
title: Blog
---
{% assign li = 0 %}
{% for post in site.posts %}
        {% if post.public %}
	{% if li == 0 %}
		{% assign class = 'container post' %}
                {% assign li = 1 %}
	{% else %}
	   {% assign class = 'container post separator' %}
	{% endif %}
        
	<article class="{{ class }}">

		<h2><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h2>
		
		<div class="post-meta span-3">
		  <a href="{{site.baseurl}}{{post.url}}" class="pill"><time datetime="{{ post.date | date: '%Y-%m-%d'}}">{{ post.date | date: "%B %d, %Y" }}</time>
		  </a>
		</div>
		<div class="post-content span-15 last">
		  {{ post.content | truncatewords: 30}}
		  <br />
		  <a href="{{site.baseurl}}{{ post.url }}">Continue reading &raquo;</a>
		  <a id="more" href="{{site.baseurl}}{{post.url}}#disqus">
		    Comments &raquo;</a>
		    
		    
		</div>
	</article>
	{% endif %}
{% endfor %}
