<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<base href="http://taghof.github.com/Navigation-for-Robots-with-WIFI-and-CV/" />
	<title>Navigation for Robots with WIFI and CV | {{ page.title }}</title>
	<link rel="stylesheet" href="{{site.baseurl}}/css/master.css" />
	<script src="{{site.baseurl}}/js/master.js"></script>
</head>

<body>

	<header>
		<div class="container">
			<p id="logo"><a href="{{site.baseurl}}">Navigation for Robots with WIFI and CV</a></p>
			<nav>
				<ul class="clearfix">
				  
				  <li{% if page.title == 'Project' %} class="selected"{% endif %}><a href="/archive.html">Archive</a></li>
				  <li{% if page.title == 'Code' %} class="selected"{% endif %}><a href="https://github.com/taghof/Navigation-for-Robots-with-WIFI-and-CV">Code</a></li>
				  <li{% if page.title == 'Archive' %} class="selected"{% endif %}><a href="/project.html">The Project</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<section id="content-wrap">
		<div class="container">

		{{ content }}

		</div>
	</section>

	<footer class="container">
		<p>2011&ndash;{{ site.time | date: "%Y" }} Master thesis project - <a href="mailto:taghof@gmail.com">Navigation for Robots with WIFI and CV</a></p>
	</div>
</body>
</html>
