<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Navigation for Robots with WIFI and CV | {{ page.title }}</title>
	<!--<base href="http://taghof.github.com/Navigation-for-Robots-with-WIFI-and-CV/" target="_blank"/>-->
	<link rel="stylesheet" href="{{site.baseurl}}/css/master.css" />
	<script src="{{site.baseurl}}/js/master.js"></script>
</head>

<body>

  <header>
    <div class="container">
      <p id="logo"><a href="{{site.baseurl}}">Navigation for Robots with WIFI and CV</a></p>
      <nav>
	<ul class="clearfix">
	  <li{% if page.title == 'Archive' %} class="selected"{% endif %}><a href="{{site.baseurl}}/archive.html">Archive</a></li>
	  <li{% if page.title == 'Code' %} class="selected"{% endif %}><a href="https://github.com/taghof/Navigation-for-Robots-with-WIFI-and-CV">Code</a></li>
	  <li{% if page.title == 'Project' %} class="selected"{% endif %}><a href="{{site.baseurl}}/project.html">The Project</a></li>
	</ul>
      </nav>
    </div>
  </header>

  <section id="content-wrap">
    <div class="container">

		{{ content }}

    </div>
  </section>

  <footer class="container">
    <p>
      <a href="{{site.baseurl}}/rss.xml"><img src="{{site.baseurl}}/images/feedlogos/28.png" width="14px" style="padding-bottom: 4px; vertical-align: middle;"></a>
      <a href="{{site.baseurl}}/atom.xml"><img src="{{site.baseurl}}/images/feedlogos/31.png" width="14px" style="padding-bottom: 4px; vertical-align: middle;"></a>
      &nbsp;&nbsp;&laquo;&nbsp;&nbsp; 2011-{{ site.time | date: "%Y" }} Master thesis project &nbsp;&nbsp;&raquo;&nbsp;&nbsp; <a href="mailto:taghof@gmail.com">Navigation for Robots with WIFI and CV</a>
    </p>
  </footer>

</body>
</html>
