---
layout: default
---
<article>
	<section>
		<div class="inside">
				
			{% for post in site.tags[page.tag] %}
			
			<div class="teaser clearfix">
				{% if (post.image) %}<div class="image"><a href="{{ post.url }}" title="{{ post.title }}"><img src="{{ post.image }}" /></a></div>{% endif %}
				<h2><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
				<div class="meta"><span class="timeago">{{ post.date | time_ago }}</span>{{ post.tags | tag_links }}</div>
				<div class="description">{{ post.description }}</div>
				<div class="read-more"><a href="{{ post.url }}" title="{{ post.title }}">Read more... »</a></div>
			</div>
			
			{% endfor %}
							
		</div>
	</section>  
</article>

<aside>
	<div class="inside">
		<h3>Tag Cloud</h3>
		<div class="text tag-cloud">{{ site.tags | tag_cloud }}</div>
	</div>
</aside>
